canvas {
    /*border: solid;
    background-image: url('../images/backGround.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;*/
    width: 100%;
}
